<form action='/figures' method="POST">
  <input type="text" name="figure[name]" id="figure_name">Figure Name</label>
  <% @titles.each do |title| %>
    <input type="checkbox" id="<%= title.id %>" value="<%= title.id %>" name="figure[title_ids][]"><%= title.name %></input>
  <% end %>
